@model IEnumerable<SalonDB.Data.Core.Domain.ServiceSalesMonthly>

    <div id="container" style="width:820px; height:500px;">

        @(
        Html.EJ().Chart("chartContainer")
        .Title(tl => tl.Text("Current Month Service Sales"))
         .Palette(pl => { pl.Add("skyblue"); pl.Add("orange"); pl.Add("grey"); })

        .Series(sr =>
        {
            sr.DataSource(Model)
            .Type(SeriesType.Column)
            .XName("Name")
            .YName("Amount")
            .Name("Month")
            .Add();

        }
        )

        )




    </div>





