@using Syncfusion.MVC.EJ
@using Syncfusion.JavaScript.Models
@using Syncfusion.JavaScript

<div style="width:100%; height:100%;">

    @(Html.EJ().ReportViewer("reportViewer")
            .ProcessingMode(Syncfusion.JavaScript.ReportViewerEnums.ProcessingMode.Local)
                     //   t.Name("dsTransactionData").Value(ViewData["TransactionData"]).Add()
                     //.DataSources( t => t.Name("dsPOS").Value(ViewBag.POS).Add())
                     .Parameters(param =>
                     {
                         param.Name("TransactionID").Labels(new List<string>() { "TransactionID" }).Values(new List<string>() { ViewBag.TransactionID }).Add();
                     })
             .ReportServiceUrl(VirtualPathUtility.ToAbsolute("~/api/ReportViewerApi"))
             .ReportPath("~/Views/Report/rdl/" + ViewBag.reportName + ".rdl")



    )
    @*</div>*@



    @*</body>*@
    <style type="text/css">
        #reportViewer {
            width: 1200px !important;
            height: 600px !important;
        }
    </style>
</div>