@model SalonDB.Web.Models.AdminViewModel
@using Newtonsoft.Json
@using SalonDB.Data.Core.Domain

<div id="MainForm" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
           

           
           @(Html.EJ().Grid<Store>("StoreGrid")
             .Datasource((IEnumerable<Store>)Model.Stores)
             .AllowPaging()
                //.AllowResizeToFit()
                .PageSettings(Page => { Page.PageSize(10); }).EnableAltRow(true)
                .AllowScrolling()
                .ScrollSettings(col => { col.Width(900).Height(350); })
                .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.DialogTemplate).ShowConfirmDialog().ShowDeleteConfirmDialog().DialogEditorTemplateID("#template_Store"); })

                .Columns(col =>
                {
                    col.HeaderText("Edit").Template("#editStoreTemplate").Add();
                    col.HeaderText("Delete").Template("#deleteStoreTemplate").Add();

                    col.Field(p => p.StoreID).HeaderText("StoreID").IsPrimaryKey(true).Visible(false).Add();
                    col.Field(p => p.CompanyID).DataSource((IEnumerable<Company>)Model.Companies).HeaderText("CompanyID").EditType(EditingType.Dropdown).Visible(false).ForeignKeyField("CompanyID").ForeignKeyValue("Name").Add();

                    col.Field(p => p.Name).HeaderText("Name").Add();
                    col.Field(p => p.Description).HeaderText("Description").Add();
                    col.Field(p => p.Phone).HeaderText("Phone").Visible(true).EditType(EditingType.Numeric).ValidationRules(v => v.AddRule("required", true)).Add();
                    col.Field(p => p.Address).HeaderText("Address").Visible(true).Add();
                    col.Field(p => p.PostalCode).HeaderText("PostalCode").Visible(true).Add();
                    col.Field(p => p.City).HeaderText("City").Visible(true).Add();

                })
                                .ClientSideEvents(evt =>
                                {
                                    evt.EndAdd("endAdd_Store");
                                    evt.EndEdit("endEdit_Store");
                                    evt.EndDelete("endDelete_Store");
                                    evt.RowSelected("onRowSelected_Store");
                                    evt.ActionComplete("onActionComplete_Store");
                                })
        )
            <br />
            <p>
                <button type="button" class="btn btn-primary" id="BtnProductsAdd" onclick="add_Store()">Add</button>
            </p>

        </div>
        @*<div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <p>
                            <label for="Name">Name:</label>
                            <label for="txtName" id="txtStoreName"></label>
                        </p>
                       <p>
                            <label for="Description">Description:</label>
                            <label for="Description" id="txtStoreDescription"></label>
                        </p>
                       
                        <p>
                            <label for="Phone">Phone:</label>
                            <label for="Phone" id="txtStorePhone"></label>
                        </p>
                        <p>
                            <label for="Address">Address:</label>
                            <label for="Address" id="txtStoreAddress"></label>
                        </p>
                        <p>
                            <label for="PostalCode">Postal Code:</label>
                            <label for="PostalCode" id="txtStorePostalCode"></label>
                        </p>
                        <p>
                            <label for="City">City:</label>
                            <label for="City" id="txtStoreCity"></label>
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script id="template_Store" type="text/template">
    <table cellspacing="10">
        <tr>
            <td>Name</td>
            <td>
                <input id="Name" name="Name" value="{{:Name}}" class="e-field e-ejinputtext" style="width:300px;height:28px" />
            </td>
             <td>Description</td>
            <td>
                <input id="Description" name="Description" value="{{:Description}}" class="e-field e-ejinputtext" style="width: 300px; height: 28px" />
            </td>
    </tr>
        <tr>
            <td>Address</td>
            <td>
                <input id="Address" type="text" name="Address" value="{{:Address}}" class="e-field e-ejinputtext" style="width:300px;height:28px" />
            </td>
            <td>City</td>
            <td>
                <input id="City" type="text" name="City" value="{{:City}}" class="e-field e-ejinputtext" style="width:300px;height:28px" />
            </td>

            <td style="text-align: left">
                <input id="StoreID" name="StoreID" value="{{: StoreID}}" hidden="hidden" disabled="disabled" class="e-field e-ejinputtext valid e-disable"
                       style="text-align: right; width: 116px; height: 28px" />
            </td>
            <td style="text-align: left">
                <input id="CompanyID" name="CompanyID" value="{{: CompanyID}}" hidden="hidden" disabled="disabled" class="e-field e-ejinputtext valid e-disable"
                       style="text-align: right; width: 116px; height: 28px" />
            </td>
          </tr>

        <tr>
            <td>Phone</td>
            <td style="text-align: left">
                <input type="text" id="Phone" name="Phone" class="e-field e-ejinputtext" value="{{:Phone}}" style="width: 300px; height: 28px" />
            </td>
            <td>PostalCode</td>
            <td>
                <input id="PostalCode" type="text" name="PostalCode" value="{{:PostalCode}}" class="e-field e-ejinputtext" style="width: 300px; height: 28px" />
            </td>
        </tr>
     </table>


</script>

<script type="text/x-jsrender" id="editStoreTemplate">
    <a id="rec_edit" href='/Store/edit' onclick='return handleStore(1)'>Edit</a>
</script>

<script type="text/x-jsrender" id="deleteStoreTemplate">
    <a href='/Store/delete' onclick='return handleStore(2)'>Delete</a>
</script>

<script type="text/javascript">

    function handleStore(args) {

        if (args == 1) {
            edit_Store();
        }

        if (args == 2) {
            delete_Store();
        }

        return false;
    }

</script>