@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One GSM Tech Way<br />
    Calgary, AB T2P 3Y6<br />
    <abbr title="Phone">P:</abbr>
    +1-403.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gsmtech.com">Support@gsmtech.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gsmtech.com">Marketing@gsmtech.com</a>
</address>